
body {
    margin: 30px 100px 30px 100px;
    padding: 0;
    font-size: 16px;
    font-family: 'PT Serif', serif;
}

main {
    border: solid black 2px;
    max-width: 900px;
    position: relative;
}

section {
    border: solid 2px hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: auto;
    margin: 20px;
}

header {
    display: block;
    justify-content: center;
    height: 50px;
    max-width: 900px;
}

#logo {
    float: left;
    height: 30px;
    width: 30px;
    align-items: center;
    margin: 5px;
}

h1 {
    font-family: 'Yellowtail', cursive;
    font-size: 2rem;
    font-weight: bolder;
    color: #222222;
}

#size-small {
   font-size: .5rem;
   display: block;
    font-family: 'Abel', sans-serif;
    margin-block-start: -1em;
}

nav {
    display: block;
    margin-top: -2em;
    margin-left: 43em;
}

#recipe-title{
    height: 50px;
    display: block;
    padding-left: 10px;
    border: none;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

#size-medium {
    font-size: .5rem;
}

#print {
    display: flex;
    margin-left: 790px;
    margin-top: -.5em;
}

p {
    border: solid 2px greenyellow;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* width: 450px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: auto;
    margin: 20px; */
    display: block;
    margin-left: 45px;
    margin-right: 45px;
}

#choco-pizza {
    height: 500px;
    width: 800px;
}

#small-logo {
   display: flex;
   flex-direction: column;
   justify-content: start;
    height: 50px;

}

  
footer {
    border: solid 4px blue;
    position: flex;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: center;
    font-size: .7rem;

}
<img src="./assets/list-bg.png" alt="note">